#!/bin/env bash

#@author juan carlos
#@red social linkedin www.linkedin.com/in/juan-carlos-morla-reyes-6410a91b3
#@description rotador de backup en raid

#salida estandar
#/var/log/RAID-BACKUP/rotate.log

#configuracion
#/etc/RAID-BACKUP/Status-Backup.tpr

#directorio de raid RAID_DEFAULT
#etc/RAID-BACKUP/BRM.conf
#limithard  = null = var 80 defaul.

rotate(){

	CONF='/etc/RAID-BACKUP/BRM.conf'
	RAID=$1
	PROCESOBACKUP=1

	LIMITHARD=$(cat $CONF |
	grep LIMITHARD |
	cut -d"=" -f 2)

	if [[ -z $LIMITHARD ]]; then

		LIMITHARD=85

	fi

#si variable raid nula busca en brm.conf
	if [[ -z $RAID ]]; then

		RAID=$(cat $CONF |\
			grep RAID_DEFAULT |\
				cut -d"=" -f 2 |\
					xargs -i grep ^"{}" $CONF | cut -c 4-)

		if [[ -z $RAID ]]; then exit 1; fi

	fi
#

	AVI_LIMITHARD() {

		echo -e "LIMIT_HARD = [$(($LIMITHARD - ${NAME[2]}))%] $BACKUP_DES\nBLOQUES_USADOS = [${NAME[1]}]\nLIMITE_DF = [$LIMITHARD%]\nRAID = [$RAID]" 
	#&>/var/log/RAID-BACKUP/rotate.log
	}

	SLE_1() {

		sleep 0.1 && clear
	}	

	while [ $PROCESOBACKUP -lt 2 ]; do
	#bloques usados
		NAME[1]=$(df $RAID |\
			tail -n1 |\
				awk '{ print $3 }')

	# limitehard
		NAME[2]=$(df -h $RAID |\
			tail -n1 |\
				awk '{ print $5 }' |\
					tr '\045' '\012')

	#Elimina si limite mayor que $LIMITHARD
		if [[ ${NAME[2]} -ge $LIMITHARD ]]; then

			AVI_LIMITHARD
			cd $RAID &&
				ls -lt |\
					awk '{ print $9 }' |\
						grep ^[^l] |\
							tail -n1 |\
								xargs -i rm -rf {}
			SLE_1
		else
			AVI_LIMITHARD
			SLE_1

		fi

	done

	exit 0


	stop_opcion(){

		ps axu | grep "REBRM.service" | awk '{ print $2}' | xargs -i kill -9 {} 	
		exit 
	}
}
case "$1" in

    start)
     	rotate
     	;;

    stop) 
		stop_opcion
		;;

    restart|force-reload)
   		echo "NO configuration" 
   		;;
    *)
        N=/etc/init.d/$NAME
        echo "Usage: $N {start|stop|restart|force-reload}" >&2
      	 exit 0
        ;;
esac
